@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif ;  
}
#title{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    min-height: 70%;
}
.container{
    margin: auto;
    max-width: 900px;
    width: 100%;
}
.header{
    background-color: #0289cc;
    padding: 4px;
    width: 95%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-indent: 10px;
}
/* formando o form de dados */
.h2, .h3, .h4{
    font-weight: normal;
    font-size: 15px;
    color: white;
}
.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95%;
    padding: 12px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.form-content{
    display: flex;
    flex-direction: column;
    font-weight: 600;
    height: 60px;
}
.form-content input{
    text-indent: 10px;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
}
 /* definindo tamanhos de input*/
#endereco{
    width:500px;
}
#razao-social, #nome-fantasia{
    width: 500px;
}
#complemento{
    width: 825px
}
#bairro, #municipio, #estado{
    width: 270px;
}
#pessoactt{
    width: 400px;
}
#telefone, #email{
    width: 200px;
}
/* */
#endereco, #bairro, #municipio, #estado{
    background-color: rgb(172, 172, 172);
}
/* formatando form de produtos */

.formprodutos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95%;
    padding: 12px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.borderproduto, .borderproduto2{
    border: 1px solid black;
    height: 150px;
    border-radius: 5px;
    margin: 20px;
    margin-left: 50px;
    padding-left: 150px;
    padding-right: 20px;
}
#tagproduto{
    background-color: white;
    padding-left: 10px;
    width: 100px;
    height: 15px;
    transform: translate(-120px, -160px);
}
#logocaixa, #logocaixa2{
    display: flex;
    width: 100px;
    transform: translate(-140px, 30px);
}
#logolixeira, #logolixeira2{
    width: 40px;
    transform: translate(-200px, -50px);
}
.produto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    transform: translate(0px, -160px);
}
.produto input, select{
    text-indent: 10px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
}
.inputprodutos {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    height: 60px;
}
/* definindo tamanhos de input*/
#produto{
    width: 600px;
}

#und.medida, #qtdestoque ,#valorunitario, #valortotal, #qtdestoque2 ,#valorunitario2, #valortotal2{
    width: 150px;
}
#valortotal, #valortotal2{
    background-color: rgb(172, 172, 172);
}
#fieldset{
    border: none;
}
/* escondendo o produto 2*/
.borderproduto2{
    display: none;
}

/* botao de adicionar Produto */

#Addbutton{
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    width: 99.5%;
    font-size: medium;
    font-weight: bold;
    color: white;
    background-color: rgb(45, 187, 45);
    border: none;
    border-radius: 5px;
}
#Addbutton:hover{
    cursor: pointer;
}
#Addbutton:active{
    background-color: rgb(25, 102, 25);
}
/* botao da lixeira*/
#logolixeira2:hover{
    cursor: pointer;
}


/* formatando area de anexos*/

.borderanexoOut{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95%;
    padding: 12px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.borderanexoIN{
    flex-direction: column;
    display: flex;
    width: 100%;
    border: 1px solid black;
    height: 150px;
    border-radius: 5px;
    margin: 20px 0 10px 0;
}
.borderanexoIN p{
    background-color: white;
    width: 60px;
    height: 20px;
    padding-left: 10px;
    transform: translate(20px, -14px);
}

input[type="file"] {

    display: none;
  }

#logolixeira3{
    width: 40px;
    height: 40px;
    transform: translate(35px, 10px);
}
#btndownload{
    margin-left: 10px;
    width: 40px;
    height: 40px;
    transform: translate(80px, -30px);
}
#anexo1{
    transform: translate(160px, -63px);
}
#anexo2{
    transform: translate(160px, -110px);
}
#btndownload2{
    margin-left: 10px;
    width: 40px;
    height: 40px;
    transform: translate(80px, -80px);
}
#logolixeira4{
    width: 40px;
    height: 40px;
    transform: translate(35px, -40px);
}


#anexobutton{
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    width: 99.5%;
    font-size: medium;
    font-weight: bold;
    color: white;
    background-color: rgb(45, 187, 45);
    border: none;
    border-radius: 5px;
}
#anexobutton:hover{
    cursor: pointer;
}
#anexobutton:active{
    background-color: rgb(25, 102, 25);
}
/* botao salvar fornecedor */
#salvarFornecedor{
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    width: 95%;
    font-size: medium;
    font-weight: bold;
    color: white;
    background-color: rgb(45, 187, 45);
    border: none;
    border-radius: 5px;
}
#salvarFornecedor:hover{
cursor: pointer;
}
#salvarFornecedor:active{
    background-color: rgb(25, 102, 25);
}

#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}
#modal{
    background-color: white;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 400px;
    max-width: 90%;
    padding: 5px;
    border-radius: 5px;
}
.modal-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#modal.hide,
#fade.hide{
    display: none;
}
